<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
  </configSections>

  <connectionStrings>
    <add name="Hospital.ReadModel.Web" connectionString="Server=.\SQLExpress;Database=HospitalReadModelWeb;Integrated Security=SSPI" />
  </connectionStrings>

  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="Hospital.Events" Endpoint="Hospital.CommandHandlers" />
    </MessageEndpointMappings>
  </UnicastBusConfig>

</configuration>