# Standard VS.NET
*/obj/*
*/Obj/*
*/bin/*
*/Bin/*
*.csproj.user
*.suo

# Resharper
*ReSharper*
*resharper*
*.cache

# Other
/lib/Debug
/lib/Release
Packages/*

# Other useful stuff
* Thumbs.db
*.bak
*.cache
*.log
*.swp
*.user
*.DS_Store
/packages
*/log-file.txt
