@using Microsoft.Web.Mvc;
@model IEnumerable<PatientBedAssignment>
@{
    ViewBag.Title = "Patient Roster";
    Bundles.Reference("Scripts/PatientIndex");
    Bundles.AddPageData("page", new
                                    {
                                        model = new {model = Model},
                                        baseEditUrl = Url.Action("Edit")
                                    });
}

<div id="view">
    @(Html.ActionLink<PatientController>(c => c.Create(), "Create a patient"))
    <ul id="patientList" data-bind="foreach: model">
        <li>
            <a data-bind="attr: {href: EditUrl()}, text: LastFirst()"></a> - 
            <span data-bind="text: Status()"></span>
        </li>
    </ul>
</div>
