@using Microsoft.Web.Mvc;
@using Newtonsoft.Json
@model IEnumerable<Hospital.PatientBedAssignment>
@{
    ViewBag.Title = "Patient Roster";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Hospital.Patient.Index.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var initialViewModel = @Html.Raw(JsonConvert.SerializeObject(new {model = Model}));
        var baseEditUrl = @Html.Raw(JsonConvert.SerializeObject(Url.Action("Edit")));
    </script>
}
<div id="view">
    @(Html.ActionLink<PatientController>(c => c.Create(), "Create a patient"))
    <ul id="patientList" data-bind="foreach: model">
        <li>
            <a data-bind="attr: {href: EditUrl()}, text: LastFirst()"></a> - 
            <span data-bind="text: Status()"></span>
        </li>
    </ul>
</div>
