@using Microsoft.Web.Mvc;
@model IEnumerable<PatientBedAssignment>
@{
    ViewBag.Title = "Patient Roster";
    Bundles.Reference("Scripts/PatientIndex");
    Bundles.AddPageData("page", new
                                    {
                                        model = new {model = Model},
                                        baseEditUrl = Url.Action("Edit")
                                    });
}

<div id="view">
    <a href="#" id="createPatientLink">Create a patient</a>
    <ul id="patientList" data-bind="foreach: model">
        <li>
            <a data-bind="attr: {href: EditUrl()}, text: LastFirst()"></a> - 
            <span data-bind="text: Status()"></span>
        </li>
    </ul>
</div>

<div id="createPatientDialog" style="display: none;" title="Create Patient">
    <div class="form">
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName"/>
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName"/>
        </div>
    </div>
</div>
