@using Microsoft.Web.Mvc;
@using Hospital.Web.Controllers
@{
    ViewBag.Title = "Index";
}
@section Scripts
{
    <script>
        // Index jscript
    </script>
}
<h1>Welcome to Beverly Crusher Memorial Medical Center</h1>