@using Microsoft.Web.Mvc
@model HospitalStats
@{
    Bundles.Reference("scripts/stats");
    Bundles.AddPageData("stats", new {model = Model});
}
<div id="stats">
    <div>
        <label for="admittedPatientCount">Admitted Patients:</label>
        @(Html.ActionLink<PatientController>(c => c.Index(), Html.Encode(Model.AdmittedPatients), new{id="admittedPatientCount"}))
    </div>

    <div>
        <label for="waitingForBedCount">Waiting for beds:</label>
        @(Html.ActionLink<PatientController>(c => c.WaitingForBeds(), Html.Encode(Model.WaitingForBeds), new { id = "waitingForBedCount" }))
    </div>

    <div>
        <label for="availableBedsCount">Available beds:</label>
        <span id="availableBedsCount">@Model.AvailableBeds</span>
    </div>
</div>
