<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
    <add name="Hospital.Domain" connectionString="Server=.\SQLExpress;Database=HospitalDomain;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <MsmqTransportConfig ErrorQueue="error" NumberOfWorkerThreads="1" MaxRetries="5" />

  <log4net>
    <root>
      <level value="WARN" />
      <appender-ref ref="TraceAppender" />
    </root>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="command handler - %-5level %logger %message%newline" />
      </layout>
    </appender>
  </log4net>
  
</configuration>