<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
  </configSections>

  <connectionStrings>
    <add name="Hospital.Domain" connectionString="Server=.\SQLExpress;Database=HospitalDomain;Integrated Security=SSPI;"/>
  </connectionStrings>

  <MsmqTransportConfig ErrorQueue="error" NumberOfWorkerThreads="1" MaxRetries="5" />
  
</configuration>